<link rel="stylesheet" href="/css/user_profile.css">

<img src="<%= user.avatar%>" alt="<%= user.name%>" width="100">
<div id="profile-container">
<% if(user.id==profile_user.id){%>
    <form action="/users/update/<%= profile_user.id%>" enctype="multipart/form-data" method="POST">
    <div class="container">
        <input type="text" name="name" placeholder="your name" value="<%= profile_user.name%>"  class="userinfo"required>

    </div>
    <div class="container">
    <input type="email" name="email" placeholder="your email" value="<%= profile_user.email%>" class="userinfo" required>

    </div>
    <div class="container">
    <input type="file" name="avatar" id="" placeholder="Profile Picture" id="avatar">

    </div>
    <input type="submit" value="update" id="submitbutton">
</form>

    <%}else{%>
        <p><%=profile_user.name%></p>
        <p><%=profile_user.email%></p>
        <%}%>
</div>       